// section_area.scss
$count:4;
#viewBox{ width:100%; @include conUnit(height, 1000);
  &>.guide_box{ position:relative; @include fullBox; overflow:hidden;
    &>ul{ width:100% * $count; height:100%; transform:translateX(-100% / $count); 
      &>li{ position:relative; float:left; width:100% / $count; height:100%; 
        &>a{ display:block; @include fullBox; 
          &>span{ display:block; position:absolute; top:70%; right:50%; width:100%; height:auto; @include conUnit(font-size, 36); color:#fff; text-shadow:3px 3px 5px #eee; }
        }
      } //li
    } //ul
    &>.btn_area{ position:absolute; left:0; top:50%; transform:translateY(-50%); width:100%; height:0; 
      &>button{ float:right; @include conUnit(width, 50); @include conUnit(height, 50); background-color:transparent;
        &:last-of-type{ float:left; }
      } //button
    } //btn_area
  } //guide_box
}       