#headBox {
  position: fixed;
  z-index: 1000;
  width: 100%;
  height: 100px;
  height: 6.25rem; }
  #headBox > .wrapBox {
    position: absolute;
    top: 20%;
    left: 10%;
    width: 80%;
    height: 100%;
    background-color: rgba(248, 246, 237, 0.5);
    border-radius: 10px; }
    #headBox > .wrapBox > h1 {
      position: absolute;
      left: 50%;
      transform: translateX(-50%);
      width: 20%;
      height: 100%; }
      #headBox > .wrapBox > h1 > a {
        display: block;
        width: 100%;
        height: 100%;
        margin: auto;
        background-image: url("../../img/icon/tospia.png");
        background-size: contain;
        background-position: 50% 50%;
        background-repeat: no-repeat; }
    #headBox > .wrapBox > .gnb {
      width: 100%;
      height: 100%;
      margin: auto; }
      #headBox > .wrapBox > .gnb > .menu_area01 {
        float: left;
        width: 40%;
        height: 100%; }
        #headBox > .wrapBox > .gnb > .menu_area01 > ul {
          width: 100%;
          height: auto; }
          #headBox > .wrapBox > .gnb > .menu_area01 > ul > li {
            float: left;
            width: 30%;
            height: auto;
            margin-right: 5%; }
            #headBox > .wrapBox > .gnb > .menu_area01 > ul > li:last-child {
              margin-right: 0; }
            #headBox > .wrapBox > .gnb > .menu_area01 > ul > li > dl {
              width: 100%;
              height: auto; }
              #headBox > .wrapBox > .gnb > .menu_area01 > ul > li > dl > dt {
                width: 100%;
                height: auto;
                margin-bottom: 50px;
                margin-bottom: 3.125rem;
                transform: translateY(50%); }
                #headBox > .wrapBox > .gnb > .menu_area01 > ul > li > dl > dt > a {
                  display: block;
                  width: 100%;
                  height: 50px;
                  height: 3.125rem;
                  font-size: 24px;
                  font-size: 1.5rem;
                  line-height: 50px;
                  line-height: 3.125rem;
                  text-align: center;
                  text-transform: capitalize;
                  color: #000; }
              #headBox > .wrapBox > .gnb > .menu_area01 > ul > li > dl > dd {
                display: none;
                width: 100%;
                height: 50px;
                height: 3.125rem; }
                #headBox > .wrapBox > .gnb > .menu_area01 > ul > li > dl > dd > a {
                  display: block;
                  width: 100%;
                  height: 100%;
                  margin: auto;
                  font-size: 18px;
                  font-size: 1.125rem;
                  color: #000;
                  background-color: rgba(248, 246, 237, 0.5);
                  text-align: center; }
                #headBox > .wrapBox > .gnb > .menu_area01 > ul > li > dl > dd:after:hover {
                  content: " ";
                  display: block;
                  position: absolute;
                  bottom: 0;
                  left: 0;
                  z-index: 100;
                  width: 100%;
                  border-top: 1px solid #575; }
      #headBox > .wrapBox > .gnb > .menu_area02 {
        float: right;
        width: 40%;
        height: 100%; }
        #headBox > .wrapBox > .gnb > .menu_area02 > ul {
          width: 100%;
          height: 100%;
          margin: auto; }
          #headBox > .wrapBox > .gnb > .menu_area02 > ul > li {
            float: left;
            width: 30%;
            height: auto;
            margin-right: 5%; }
            #headBox > .wrapBox > .gnb > .menu_area02 > ul > li:last-child {
              margin-right: 0; }
            #headBox > .wrapBox > .gnb > .menu_area02 > ul > li > dl {
              width: 100%;
              height: auto; }
              #headBox > .wrapBox > .gnb > .menu_area02 > ul > li > dl > dt {
                width: 100%;
                height: auto;
                margin-bottom: 50px;
                margin-bottom: 3.125rem;
                transform: translateY(50%); }
                #headBox > .wrapBox > .gnb > .menu_area02 > ul > li > dl > dt > a {
                  display: block;
                  width: 100%;
                  height: 50px;
                  height: 3.125rem;
                  font-size: 24px;
                  font-size: 1.5rem;
                  line-height: 50px;
                  line-height: 3.125rem;
                  text-align: center;
                  text-transform: capitalize;
                  color: #000; }
              #headBox > .wrapBox > .gnb > .menu_area02 > ul > li > dl > dd {
                display: none;
                width: 100%;
                height: 50px;
                height: 3.125rem; }
                #headBox > .wrapBox > .gnb > .menu_area02 > ul > li > dl > dd > a {
                  display: block;
                  width: 100%;
                  height: 100%;
                  margin: auto;
                  font-size: 18px;
                  font-size: 1.125rem;
                  color: #333;
                  background-color: rgba(248, 246, 237, 0.5);
                  text-align: center; }

#viewBox {
  width: 100%;
  height: 1000px;
  height: 62.5rem; }
  #viewBox > .guide_box {
    position: relative;
    width: 100%;
    height: 100%;
    margin: auto;
    overflow: hidden; }
    #viewBox > .guide_box > ul {
      width: 400%;
      height: 100%;
      transform: translateX(-25%); }
      #viewBox > .guide_box > ul > li {
        position: relative;
        float: left;
        width: 25%;
        height: 100%; }
        #viewBox > .guide_box > ul > li > a {
          display: block;
          width: 100%;
          height: 100%;
          margin: auto; }
          #viewBox > .guide_box > ul > li > a > span {
            display: block;
            position: absolute;
            left: 50%;
            bottom: 20%;
            transform: translayteX(-50%);
            width: auto;
            height: auto;
            font-size: 50px;
            font-size: 3.125rem;
            color: #fff;
            text-shadow: 3px 3px 5px #eee; }
    #viewBox > .guide_box > .btn_area {
      position: absolute;
      left: 10%;
      bottom: 20%;
      width: 200px;
      width: 12.5rem;
      height: 0; }
      #viewBox > .guide_box > .btn_area > button {
        float: right;
        width: 100px;
        width: 6.25rem;
        height: 100px;
        height: 6.25rem;
        background-color: transparent; }
        #viewBox > .guide_box > .btn_area > button:last-of-type {
          float: left; }
        #viewBox > .guide_box > .btn_area > button > i {
          width: 100%;
          height: 100%;
          margin: auto;
          font-size: 50px;
          font-size: 3.125rem;
          color: #fff; }

#conBox {
  width: 100%;
  height: 1000px;
  height: 62.5rem; }
  #conBox > .fullBox {
    position: relative;
    padding: 50px;
    padding: 3.125rem;
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    margin: auto;
    overflow: hidden;
    background-image: url("../../img/article01/img03.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 50%; }
    #conBox > .fullBox > .half_box01 {
      width: 100%;
      height: 50%;
      margin-left: -100%;
      transition: all 300ms ease; }
      #conBox > .fullBox > .half_box01 > a {
        float: left;
        display: block;
        width: 30%;
        height: 100%;
        background-image: url("../../img/article01/img01.jpg");
        background-position: 50% 50%;
        background-size: cover;
        background-repeat: no-repeat;
        box-shadow: 3px 3px 5px #000; }
      #conBox > .fullBox > .half_box01 > span {
        float: left;
        display: block;
        padding: 10px;
        padding: 0.625rem;
        margin-left: 5%;
        width: auto;
        height: 100%;
        font-size: 20px;
        font-size: 1.25rem;
        color: #fff;
        text-shadow: 3px 3px 3px #000; }
      #conBox > .fullBox > .half_box01.action {
        margin-left: 0; }
    #conBox > .fullBox > .half_box02 {
      position: relative;
      width: 100%;
      height: 50%;
      margin-left: 110%;
      transition: all 300ms ease; }
      #conBox > .fullBox > .half_box02 > a {
        float: right;
        display: block;
        width: 30%;
        height: 100%;
        background-color: #eee;
        background-image: url("../../img/article01/img02.jpg");
        background-position: 50% 50%;
        background-size: cover;
        background-repeat: no-repeat;
        box-shadow: 3px 3px 5px #000; }
      #conBox > .fullBox > .half_box02 > span {
        float: right;
        display: block;
        padding: 10px;
        padding: 0.625rem;
        margin-right: 5%;
        width: auto;
        height: 100%;
        font-size: 20px;
        font-size: 1.25rem;
        color: #fff;
        text-shadow: 3px 3px 3px #000;
        text-align: right; }
      #conBox > .fullBox > .half_box02 > a:last-of-type {
        display: block;
        position: absolute;
        left: 0;
        bottom: 5%;
        width: 300px;
        width: 18.75rem;
        height: 100px;
        height: 6.25rem;
        background-color: rgba(248, 246, 237, 0.5);
        border-radius: 5px;
        border-radius: 0.3125rem;
        background-image: none;
        box-shadow: none; }
        #conBox > .fullBox > .half_box02 > a:last-of-type > span {
          display: block;
          width: auto;
          height: auto;
          font-size: 30px;
          font-size: 1.875rem;
          color: #333;
          text-align: center;
          line-height: 100px;
          line-height: 6.25rem;
          text-transform: capitalize; }
      #conBox > .fullBox > .half_box02.action {
        margin-left: 0; }

#conBox02 {
  width: 100%;
  height: 1000px;
  height: 62.5rem;
  background-image: linear-gradient(360deg, #edd, #fff);
  background-image: url("../../img/article02/img01.jpg");
  background-position: 0 0;
  background-size: cover;
  background-repeat: no-repeat; }
  #conBox02 > .fullBox {
    position: relative;
    padding: 50px;
    padding: 3.125rem;
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    margin: auto; }
    #conBox02 > .fullBox > ul {
      display: none;
      width: 70%;
      height: 50%;
      margin: auto; }
      #conBox02 > .fullBox > ul > li {
        float: left;
        position: relative;
        width: 30%;
        height: 100%;
        margin-right: 5%;
        background-color: #fff;
        border-radius: 5px;
        border-radius: 0.3125rem; }
        #conBox02 > .fullBox > ul > li:last-child {
          margin-right: 0; }
        #conBox02 > .fullBox > ul > li > a {
          display: block;
          width: 100%;
          height: 70%;
          border-radius: 5px;
          border-radius: 0.3125rem; }
          #conBox02 > .fullBox > ul > li > a > span {
            display: block;
            position: absolute;
            left: 10px;
            left: 0.625rem;
            bottom: 10px;
            bottom: 0.625rem;
            width: 100%;
            height: auto;
            font-size: 30px;
            font-size: 1.875rem;
            color: #333;
            text-align: center;
            text-transform: capitalize; }
      #conBox02 > .fullBox > ul.action > li {
        transform: translateY(50%); }
      #conBox02 > .fullBox > ul.action > li:nth-child(1) {
        transition: all 500ms ease 300ms; }
      #conBox02 > .fullBox > ul.action > li:nth-child(2) {
        transition: all 500ms ease 600ms; }
      #conBox02 > .fullBox > ul.action > li:nth-child(3) {
        transition: all 500ms ease 900ms; }
    #conBox02 > .fullBox > p {
      position: absolute;
      left: 50%;
      transform: translate(-50%);
      bottom: 15%;
      width: 100%;
      height: auto;
      font-size: 36px;
      font-size: 2.25rem;
      text-align: center;
      text-shadow: 3px 3px 5px #777; }

#asideBox {
  width: 100%;
  height: auto;
  background-image: linear-gradient(180deg, #edd, #fff); }
  #asideBox > .fullBox {
    position: relative;
    padding: 50px;
    padding: 3.125rem;
    box-sizing: border-box;
    width: 100%;
    height: auto; }
    #asideBox > .fullBox > ul {
      position: relative;
      width: 70%;
      height: 400px;
      height: 25rem;
      margin: auto; }
      #asideBox > .fullBox > ul > li {
        float: left;
        width: 20%;
        height: 100%;
        margin-right: 5%; }
        #asideBox > .fullBox > ul > li > a {
          display: block;
          width: 200px;
          width: 12.5rem;
          height: 200px;
          height: 12.5rem;
          border-radius: 100%;
          transform: translateY(50%);
          background-color: #fff; }
          #asideBox > .fullBox > ul > li > a > span {
            display: block;
            width: auto;
            height: auto;
            font-size: 20px;
            font-size: 1.25rem;
            text-align: center;
            line-height: 200px;
            line-height: 12.5rem;
            color: #fff; }
    #asideBox > .fullBox > .txt_area {
      position: relative;
      width: 100%;
      height: 0; }
      #asideBox > .fullBox > .txt_area > li {
        width: 100%;
        height: auto; }
        #asideBox > .fullBox > .txt_area > li > p {
          display: none;
          position: absolute;
          left: 50%;
          transform: translateX(-50%);
          width: 100%;
          height: 100px;
          font-size: 30px;
          font-size: 1.875rem;
          color: #000;
          text-shadow: 3px 3px 5px #777;
          text-align: center; }
    #asideBox > .fullBox > p {
      position: absolute;
      left: 50%;
      transform: translateX(-50%);
      width: 100%;
      height: auto;
      font-size: 30px;
      font-size: 1.875rem;
      color: #000;
      text-shadow: 3px 3px 5px #777;
      text-align: center;
      text-transform: capitalize; }
      #asideBox > .fullBox > p.action {
        display: none; }

#footBox {
  width: 100%;
  height: 300px;
  height: 18.75rem;
  background-image: linear-gradient(180deg, #fff, #efefef); }
  #footBox > ul {
    padding: 30px;
    padding: 1.875rem;
    box-sizing: border-box;
    width: 70%;
    height: 100%;
    margin: auto; }
    #footBox > ul > li {
      float: left;
      width: 15%;
      height: 100%;
      margin-right: 10%; }
      #footBox > ul > li > a {
        display: block;
        width: 100%;
        height: 70%;
        margin-bottom: 5px;
        margin-bottom: 0.3125rem;
        background-color: #333;
        border-radius: 10px;
        border-radius: 0.625rem; }
      #footBox > ul > li > span {
        display: block;
        width: 100%;
        height: 30%;
        font-size: 24px;
        font-size: 1.5rem;
        text-align: center;
        color: #000; }
      #footBox > ul > li:first-child {
        margin-left: 5%; }
      #footBox > ul > li:last-child {
        margin-right: 5%; }
