// head_area.scss
#headBox{ position:fixed; z-index:1000; width:100%; @include conUnit(height, 100); 
  &>.wrapBox{ position:absolute; top:20%; left:10%; width:80%; height:100%; background-color:rgba(248, 246, 237, 0.5); border-radius:10px; 
    &>h1{ position:absolute; left:50%; transform:translateX(-50%); width:20%; height:100%; 
      &>a{ display:block; @include fullBox; background-image: url('../../img/icon/tospia.png'); background-size: contain; background-position:50% 50%; background-repeat: no-repeat; }
    } //h1
    &>.gnb{ @include fullBox; 
      &>.menu_area01{ float:left; width:40%; height:100%; 
        &>ul{ width:100%; height:auto;
          &>li{ float:left; width:30%; height:auto; margin-right:5%; 
          &:last-child{ margin-right:0; }  
            &>dl{ width:100%; height:auto; 
              &>dt{ width:100%; height:auto; @include conUnit(margin-bottom, 50); transform:translateY(50%); @include conUnit(font-size, 24); @include conUnit(line-height, 50); text-align:center; text-transform: capitalize; }
              &>dd{ display:none; width:100%; @include conUnit(height, 50); 
                &>a{ display:block; @include fullBox; @include conUnit(font-size, 18); color:#333; background-color:rgba(248, 246, 237, 0.5); text-align:center; }  
              &:after:hover{ content:" "; display:block; position:absolute; bottom:0; left:0; z-index:100; width:100%; border-top:1px solid #575; }
              } //dd
            } //dl
          } //li
        } //ul
      } //menu_area01
      &>.menu_area02{ float:right; width:40%; height:100%; 
        &>ul{ @include fullBox; 
          &>li{ float:left; width:30%; height:auto; margin-right:5%; 
          &:last-child{ margin-right:0; }   
            &>dl{ width:100%; height:auto; 
             &>dt{ width:100%; height:auto; transform:translateY(50%); @include conUnit(margin-bottom, 50); @include conUnit(font-size, 24); @include conUnit(line-height, 50); text-align:center; text-transform: capitalize; }
             &>dd{ display:none; width:100%; @include conUnit(height, 50); 
              &>a{ display:block; @include fullBox; @include conUnit(font-size, 18); color:#333; background-color:rgba(248, 246, 237, 0.5); text-align:center; }
              } //dd
            } //dl
          } //li
        } //ul
      } //menu_area02
    } //gnb
  } //wrapBox
} //headBox